header {
    text-align: center;
    padding: 1em;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

    img {
        height: 33px;
    }
}

.location {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    color: black;
    box-shadow: inset 0 8px 6px -6px black;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em 0;
    gap: 20px;
}

.explore {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 32px;

    h1 {
        font-family: "Roboto", sans-serif;
        color: black;
        font-size: 28px;
    }

    p {
        font-size: 18px;
        margin: 21px 0;
        color: black;
        font-weight: lighter;
    }

    .explore-button {
        background-image: linear-gradient(-10deg, #9356dc, #ff79ff);
        background-color: lighten(#ff79ff, 93.5%);
        border: none;
        font-size: 18px;
        padding: 16px 32px;
        margin-bottom: 54px;
        border-radius: 27px;
        color: white;
        cursor: pointer;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s ease;
    }

    .explore-button hover {
        background-color: lighten(#ff79ff, 93.5%);
    }
}

.how-it-works {
    text-align: left;
    padding: 32px;
    color: black;
    font-weight: bold;
    margin-bottom: 4vh;

    ul {
        list-style: none;
        padding: 0;
        counter-reset: step-counter;

        li {
            counter-increment: step-counter;
            background-color: rgba(0, 0, 0, 0.05);
            margin: 28px 0;
            position: relative;
            padding: 32px 36px;
            border-radius: 30px;
            box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.27);

            &:before {
                content: counter(step-counter);
                position: absolute;
                font-weight: lighter;
                left: -10px;
                background-color: $color-primary;
                color: white;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:hover {
                background-color: #9356dc;
            }
        }
    }
}

.restaurants {
    padding: 32px;
    color: black;
    background-color: rgba(0, 0, 0, 0.05);

    h1 {
        font-size: 30px;
        color: black;
    }

    .restaurant-card {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 16px;
        padding: 0;
        border-radius: 25px;
        position: relative;
        overflow: hidden;
        max-width: 500px;
        text-decoration: none;


        img {
            max-height: 60vh;
            width: 100%;
        }

        h2 {
            // margin-top: 8px;
            margin-left: 11px;
            margin-bottom: 0;
            font-size: 20px;
            color: black;
        }

        p {
            margin-top: 8px;
            margin-bottom: 32px;
            margin-left: 13px;
            font-size: 18px;
            color: black;
        }

    }

    .tag-new {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40%);
        font-weight: bold;
        padding: 8px 40px;
        border-radius: 2px;
        font-size: 18px;
    }

    .like-button {
        position: absolute;
        bottom: 30px;
        right: 30px;
        font-size: 40px;
        color: black;

        // transition: all ease 0.4s;
        &-full {
            opacity: 0;
            transition: opacity 300ms;
            background-image: linear-gradient(-10deg, $color-secondary, $color-primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            &:hover {
                opacity: 1;
            }
        }

        p {
            font-size: 48px;
            font-weight: 100;
        }

    }


}

footer {
    background-color: #3b3b3b;

    text-align: left;
    padding: 32px;

    h2 {
        font-family: $font-secondary;
        color: white;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 0.5em;
            color: white;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    img {
        height: 30px;
        margin-top: 1em;
    }
}


@media all and (min-width: 992px)and (max-width: 1440px) {
    header {
        text-align: center;
        padding: 1em;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

        img {
            height: 33px;
        }
    }

    .location {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-content: center;
        justify-content: center;
        align-items: baseline;
        color: black;
        box-shadow: inset 0 8px 6px -6px black;
        font-size: 15px;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 1em 0;
    }

    .explore {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 32px;

        h1 {
            font-family: "Roboto", sans-serif;
            color: black;
            font-size: 28px;
        }

        p {
            font-size: 18px;
            margin: 21px 0;
            color: black;
            font-weight: lighter;
        }

        .explore-button {
            background-image: linear-gradient(-10deg, #9356dc, #ff79ff);
            background-color: lighten(#ff79ff, 93.5%);
            border: none;
            font-size: 18px;
            padding: 16px 32px;
            margin-bottom: 54px;
            border-radius: 27px;
            color: white;
            cursor: pointer;
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
            transition: background-color 0.3s ease;
        }

        .explore-button hover {
            background-color: lighten(#ff79ff, 93.5%);
        }
    }

    .how-it-works {
        text-align: center;
        padding: 32px;
        color: black;
        font-weight: bold;
        margin-bottom: 4vh;

        ul {
            list-style: none;
            padding: 0;
            counter-reset: step-counter;

            li {
                counter-increment: step-counter;
                background-color: rgba(0, 0, 0, 0.05);
                margin: 28px 0;
                position: relative;
                padding: 32px 36px;
                border-radius: 30px;
                box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.27);

                &:before {
                    content: counter(step-counter);
                    position: absolute;
                    font-weight: lighter;
                    left: -10px;
                    background-color: $color-primary;
                    color: white;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    background-color: #9356dc;
                }
            }
        }
    }


    .restaurants {
        padding: 32px;
        color: black;
        background-color: rgba(0, 0, 0, 0.05);

        h1 {
            font-size: 30px;
            color: black;
        }

        .restaurant-card {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            background-color: white;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 16px;
            padding: 0;
            border-radius: 25px;
            position: relative;
            overflow: hidden;
            max-width: 500px;
            text-decoration: none;


            img {
                max-height: 60vh;
                width: 100%;
            }

            h2 {
                // margin-top: 8px;
                margin-left: 11px;
                margin-bottom: 0;
                font-size: 20px;
                color: black;
            }

            p {
                margin-top: 8px;
                margin-bottom: 32px;
                margin-left: 13px;
                font-size: 18px;
                color: black;
            }

        }

        .tag-new {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            font-weight: bold;
            padding: 8px 40px;
            border-radius: 2px;
            font-size: 18px;
        }

        .like-button {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 40px;

            // transition: all ease 0.4s;
            &-full {
                opacity: 0;
                transition: opacity 300ms;

                &:hover {
                    opacity: 1;
                }
            }

            p {
                font-size: 48px;
                font-weight: 100;
            }

        }


    }

    footer {
        background-color: #3b3b3b;

        text-align: left;
        padding: 32px;

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 0.5em;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }

        img {
            height: 30px;
            margin-top: 1em;
            color: white;
        }
    }
}